<template>
    <form>
        <slot></slot>
        <loading
            :active.sync="isLoading"
            :can-cancel="false"
            :is-full-page="false">
        </loading>
        <notifications group="lead" />
        <v-dialog />
        <div class="row" style="background:cadetblue">
            <div class="col-md-6">
                <div class="input-group lead-search align-items-center">
                    <label for="licence_search" class="search-term">Licence Number</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="licence_search" 
                        @keyup.enter="fetchLeadByLicenceNumber(licence_search)" 
                        :value="licence_search" 
                        @input="updateLicenceSearch" 
                    >   
                    <span class="input-group-btn">
                        <b-button @click="fetchLeadByLicenceNumber(licence_search)">Search</b-button>
                    </span>
                    <small v-if="$v.licence_search.$error && !$v.licence_search.required" class="text-danger dot-search">Licence Number is required</small>
                    <small v-if="$v.licence_search.$error && !$v.licence_search.numeric" class="text-danger dot-search">Licence Number should be a number</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group lead-search align-items-center">
                    <label for="phone_search" class="search-term">Phone</label>
                    <input type="text" class="form-control" id="phone_search" @keyup.enter="fetchLeadByPhoneNumber(phone_search)" :value="phone_search" @input="updatePhoneSearch">
                    <small v-if="$v.phone_search.$error && !$v.phone_search.required" class="text-danger phone-search">Phone Number is required</small>
                    <small v-if="$v.phone_search.$error && !$v.phone_search.between" class="text-danger phone-search">Phone Number must have 10 digits</small>
                    <span class="input-group-btn">
                        <b-button @click="fetchLeadByPhoneNumber(phone_search)">Search</b-button>
                    </span>
                </div>
            </div>
        </div>
        
        
        <div class="row" style="background:burlywood">
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="legal_name">Legal Name <span>*</span></label>
                    <input type="text" class="form-control" id="legal_name" :value="legal_name" @input="updateLegalName">
                    <small v-if="$v.lead.legal_name.$error && !$v.lead.legal_name.required" class="text-danger">Legal Name is required</small>
                    <small v:if="errors && errors.legal_name" class="text-danger">{{ getError(errors.legal_name) }}</small>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="first_name">First Name <span>*</span></label>
                            <input type="text" class="form-control" id="first_name" :value="first_name" @input="updateFirstName">
                            <small v-if="$v.lead.first_name.$error && !$v.lead.first_name.required" class="text-danger">First Name is required</small>
                            <small v:if="errors && errors.first_name" class="text-danger">{{ getError(errors.first_name) }}</small>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" class="form-control" id="last_name" :value="last_name" @input="updateLastName">
                            <small v:if="errors && errors.last_name" class="text-danger">{{ getError(errors.last_name) }}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="scrape_name">Scrape Name </label>
                    <input type="text" class="form-control" id="scrape_name" :value="scrape_name" @input="updateScrapeName">
                    <small v:if="errors && errors.scrape_name" class="text-danger">{{ getError(errors.scrape_name) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-3 form-column">
                <div class="form-group">
                    <label for="phone">Phone Number <span>*</span></label>
                    <input type="text" class="form-control" id="phone" :value="phone" @input="updateTelephone">
                    <small v-if="$v.lead.phone.$error && !$v.lead.phone.required" class="text-danger">Phone Number is required</small>
                    <small v-if="$v.lead.phone.$error && !$v.lead.phone.between" class="text-danger">Phone Number must have 10 digits</small>
                    <small v:if="errors && errors.phone" class="text-danger">{{ getError(errors.phone) }}</small>
                </div>
            </div>
            <div class="col-md-3 form-column">
                <div class="form-group">
                    <label for="phy_zip">ZIP Code <span>*</span></label>
                    <input type="text" class="form-control" id="phy_zip" :value="phy_zip" @input="updateZipCode">
                    <small v-if="$v.lead.phy_zip.$error && !$v.lead.phy_zip.required" class="text-danger">ZIP Code is required</small>
                    <!-- <small v-if="$v.lead.phy_zip.$error && !$v.lead.phy_zip.between" class="text-danger">ZIP Code must have 5 digits</small> -->
                    <small v:if="errors && errors.phy_zip" class="text-danger">{{ getError(errors.phy_zip) }}</small>
                </div>
            </div>
            <div class="col-md-3 form-column">
                <div class="form-group">
                    <label for="phy_city">City <span>*</span></label>
                    <input type="text" class="form-control" id="phy_city" :value="phy_city" @input="updateCity">
                    <small v-if="$v.lead.phy_city.$error && !$v.lead.phy_city.required" class="text-danger">City is required</small>
                    <small v:if="errors && errors.phy_city" class="text-danger">{{ getError(errors.phy_city) }}</small>
                </div>
            </div>
            <div class="col-md-3 form-column">
                <div class="form-group">
                    <label for="phy_state">State <span>*</span></label>
                    <b-select id="phy_state" :options="state_hash" :value="phy_state" @input="updateState"></b-select>
                    <small v-if="$v.lead.phy_state.$error && !$v.lead.phy_state.required" class="text-danger">State is required</small>
                    <small v:if="errors && errors.phy_state" class="text-danger">{{ getError(errors.phy_state) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="phy_street">Street</label>
                    <input type="text" class="form-control" id="phy_street" :value="phy_street" @input="updateStreet">
                    <small v:if="errors && errors.phy_street" class="text-danger">{{ getError(errors.phy_street) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="legal_entity">Legal Entity</label>
                    <b-select id="legal_entity" :options="legal_entity_hash" :value="legal_entity" @input="updateLegalEntity"></b-select>
                    <small v:if="errors && errors.legal_entity" class="text-danger">{{ getError(errors.legal_entity) }}</small>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="issue_date">Issue Date</label>
                    <datepicker :typeable="false" type="text" input-class="form-control" id="issue_date" :value="issue_date" @selected="updateIssueDate"></datepicker>
                    <small v:if="errors && errors.issue_date" class="text-danger">{{ getError(errors.issue_date) }}</small>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="expire_date">Expire Date</label>
                    <datepicker :typeable="false" type="text" input-class="form-control" id="expire_date" :value="expire_date" @selected="updateExpireDate"></datepicker>
                    <small v:if="errors && errors.expire_date" class="text-danger">{{ getError(errors.expire_date) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="license_status">License Status</label>
                    <input type="text" class="form-control" id="license_status" :value="license_status" @input="updateLicenceStatus">
                    <small v:if="errors && errors.license_status" class="text-danger">{{ getError(errors.license_status) }}</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="classifications">Classifications</label>
                    <input type="text" class="form-control" id="classifications" :value="classifications" @input="updateClassifications">
                    <small v:if="errors && errors.classifications" class="text-danger">{{ getError(errors.classifications) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="bond_carrier">Bond Carrier</label>
                    <input type="text" class="form-control" id="bond_carrier" :value="bond_carrier" @input="updateBondCarrier">
                    <small v:if="errors && errors.bond_carrier" class="text-danger">{{ getError(errors.bond_carrier) }}</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="bond_effective_date">Bond Effective Date</label>
                    <datepicker :typeable="false" type="text" input-class="form-control" id="bond_effective_date" :value="bond_effective_date" @selected="updateBondEffectiveDate"></datepicker>
                    <small v:if="errors && errors.bond_effective_date" class="text-danger">{{ getError(errors.bond_effective_date) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="workers_compensation_carrier">Workers Compensation Carrier</label>
                    <input type="text" class="form-control" id="workers_compensation_carrier" :value="workers_compensation_carrier" @input="updateWorkersCompensationCarrier">
                    <small v:if="errors && errors.workers_compensation_carrier" class="text-danger">{{ getError(errors.workers_compensation_carrier) }}</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="workers_compensation_effective_date">Workers Compensation Expire Date</label>
                    <datepicker :typeable="false" type="text" input-class="form-control" id="workers_compensation_effective_date" :value="workers_compensation_effective_date" @selected="updateWorkersCompensationEffectiveDate"></datepicker>
                    <small v:if="errors && errors.workers_compensation_effective_date" class="text-danger">{{ getError(errors.workers_compensation_effective_date) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="liability_insurance_carrier">Liability Insurance Carrier</label>
                    <input type="text" class="form-control" id="liability_insurance_carrier" :value="liability_insurance_carrier" @input="updateLiabilityInsuranceCarrier">
                    <small v:if="errors && errors.liability_insurance_carrier" class="text-danger">{{ getError(errors.liability_insurance_carrier) }}</small>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="liability_insurance_expiration_date">Liability Insurance Expiration Date</label>
                    <datepicker :typeable="false" type="text" input-class="form-control" id="liability_insurance_expiration_date" :value="liability_insurance_expiration_date" @selected="updateLiabilityInsuranceExpirationDate"></datepicker>
                    <small v:if="errors && errors.liability_insurance_expiration_date" class="text-danger">{{ getError(errors.liability_insurance_expiration_date) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="license_number">Licence Number</label>
                    <input type="text" class="form-control" id="license_number" :value="license_number" @input="updateLicenseNumber" disabled>
                    <small v:if="errors && errors.license_number" class="text-danger">{{ getError(errors.license_number) }}</small>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="coverage_type">
                    Coverage Type</label>
                    <b-select id="coverage_type" :options="coverage_type_hash" :value="coverage_type" @input="updateCoverageType"></b-select>
                    <small v:if="errors && errors.coverage_type" class="text-danger">{{ getError(errors.coverage_type) }}</small>
                </div>
            </div>
            <div class="col-md-4 form-column">
                <div class="form-group">
                    <label for="email_address">Email</label>
                    <input type="email" class="form-control" id="email_address" :value="email_address" @input="updateEmail">
                    <small v-if="$v.lead.email_address.$error && !$v.lead.email_address.email" class="text-danger">Email is not a properly formatted email address</small>
                    <small v:if="errors && errors.email_address" class="text-danger">{{ getError(errors.email_address) }}</small>
                </div>
            </div>
        </div>
        
        <div class="row" style="background:burlywood">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" id="comment" :value="comment" @input="updateComment"></textarea>
                    <small v:if="errors && errors.comment" class="text-danger">{{ getError(errors.comment) }}</small>
                </div>
            </div>
        </div>
        
        
        <div class="row" style="background:cadetblue">
            <div class="col-md-12">
                <div class="input-group-btn lead-search float-left">
                    <b-button @click="copyToClipboard">Copy to clipboard</b-button>
                </div>
                <div class="input-group-btn lead-search float-right">
                    <b-button @click="showConfirmationModal">Send to Broker</b-button>
                    <b-button @click="sendErEmail(lead)">Send ER Email</b-button>
                </div>
            </div>
        </div>
    </form>

</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    import Datepicker from 'vuejs-datepicker';
    import Loading from 'vue-loading-overlay';
    import { BButton, BFormSelect } from 'bootstrap-vue';
    import { required, email, between, numeric } from "vuelidate/lib/validators";
    import {
        state_hash,
        currently_insured_hash,
        legal_entity_hash,
        coverage_type_hash
    } from '../store/constants';

    import 'vue-loading-overlay/dist/vue-loading.css';

    Vue.component('b-button', BButton);
    Vue.component('b-select', BFormSelect);

    export default {

        name: "AgentConstructionDashboard",
        data() {
            return {
                state_hash: state_hash,
                currently_insured_hash: currently_insured_hash,
                legal_entity_hash: legal_entity_hash,
                coverage_type_hash: coverage_type_hash,
            }
        },
        mounted() {
        },
        validations: {
            licence_search: { required, numeric },
            phone_search: { required, between: between(1000000000, 9999999999) },
            lead: {
                legal_name: { required },
                email_address: { email }, 
                phy_city: { required },
                phy_zip: { required },
                phy_state: { required },
                first_name: { required },
                phone: { required, between: between(1000000000, 9999999999) }
            }
        },
        methods: {
            showConfirmationModal () {
                // this.$v.lead.$reset();

                if (this.$v.lead.$invalid) {
                    this.$v.lead.legal_name.$touch();
                    this.$v.lead.first_name.$touch();
                    this.$v.lead.phone.$touch();
                    this.$v.lead.email_address.$touch();
                    this.$v.lead.phy_city.$touch();
                    this.$v.lead.phy_zip.$touch();
                    this.$v.lead.phy_state.$touch();
                    
                    //if (this.$v.lead.first_name.$error)
                    //{
                    //    Vue.notify({
                    //        group: 'lead',
                    //        type: 'error',
                    //        title: 'ERROR!',
                    //        text: 'First name is empty!'
                    //    });
                    //}
                    
                    return;
                }

                this.$modal.show('dialog', {
                    title: 'Are you sure?',
                    text: 'Do you want to send this lead to the broker?',
                    buttons: [
                        {
                            title: 'Send',
                            handler: () => { this.updateConstruction(this.lead.id), this.hideConfirmationModal() },
                        },
                        {
                            title: 'Cancel',
                            default: true,
                        }
                    ],
                })
            },
            hideConfirmationModal () {
                this.$modal.hide('dialog');
            },

            fetchLeadByLicenceNumber(licence_search) {
                this.$v.licence_search.$touch();
                if (this.$v.licence_search.$invalid) return;
                let term = { license_number: licence_search };
                this.$store.dispatch('fetchConstruction', term);
            },
            fetchLeadByPhoneNumber(phone_search) {
                this.$v.phone_search.$touch();
                if (this.$v.phone_search.$invalid) return; 
                let term = { phone: phone_search };
                this.$store.dispatch('fetchConstruction', term);
            },
            updateConstruction(id) {
                this.$store.dispatch('updateConstruction', id);
            },
            deleteLead(id) {
                this.$store.dispatch('deleteLead', id);
            },
            sendErEmail(id) {
                this.$store.dispatch('sendErEmail', id);
            },

            getError(error) {
                if (error) return error[0];
            },

            updateLicenceSearch(e) {
                this.$store.commit('updateLicenceSearch', e.target.value);
            },
            updatePhoneSearch(e) {
                this.$store.commit('updatePhoneSearch', e.target.value);
            },
            updateLegalName(e) {
                this.$store.commit('updateLegalName', e.target.value);
                this.$v.lead.legal_name.$touch();
            },
            updateFirstName(e) {
                this.$store.commit('updateFirstName', e.target.value);
                this.$v.lead.first_name.$touch();
            },
            updateLastName(e) {
                this.$store.commit('updateLastName', e.target.value);
            },
            updateScrapeName(e) {
                this.$store.commit('updateScrapeName', e.target.value);
            },
            updateTelephone(e) {
                this.$store.commit('updateTelephone', e.target.value);
                this.$v.lead.phone.$touch();
            },
            updateZipCode(e) {
                this.$store.commit('updateZipCode', e.target.value);
                this.$v.lead.phy_zip.$touch();
            },
            updateCity(e) {
                this.$store.commit('updateCity', e.target.value);
                this.$v.lead.phy_city.$touch();
            },
            updateState(value) {              
                this.$store.commit('updateState', value);
                this.$v.lead.phy_state.$touch();
            },
            updateStreet(e) {
                this.$store.commit('updateStreet', e.target.value);
            },
            updateLegalEntity(value) {
                this.$store.commit('updateLegalEntity', value);
            },
            updateIssueDate(date) {
                this.$store.commit('updateIssueDate', date);
            },
            updateExpireDate(date) {
                this.$store.commit('updateExpireDate', date);
            },
            updateLicenceStatus(e) {
                this.$store.commit('updateLicenceStatus', e.target.value);
            },
            updateClassifications(e) {
                this.$store.commit('updateClassifications', e.target.value);
            },
            updateBondCarrier(e) {
                this.$store.commit('updateBondCarrier', e.target.value);
            },
            updateBondEffectiveDate(date) {
                this.$store.commit('updateBondEffectiveDate', date);
            },
            updateWorkersCompensationCarrier(e) {
                this.$store.commit('updateWorkersCompensationCarrier', e.target.value);
            },
            updateWorkersCompensationEffectiveDate(date) {
                this.$store.commit('updateWorkersCompensationEffectiveDate', date);
            },
            updateLiabilityInsuranceCarrier(e) {
                this.$store.commit('updateLiabilityInsuranceCarrier', e.target.value);
            },
            updateLiabilityInsuranceExpirationDate(date) {
                this.$store.commit('updateLiabilityInsuranceExpirationDate', date);
            },
            updateLicenseNumber(e) {
                this.$store.commit('updateLicenseNumber', e.target.value);
            },
            updateCoverageType(value) {
                this.$store.commit('updateCoverageType', value);
            },
            updateEmail(e) {
                this.$store.commit('updateEmail', e.target.value);
                this.$v.lead.email_address.$touch();
            },
            updateComment(e) {
                this.$store.commit('updateComment', e.target.value);
            },
            //updateDescription(e) {
            //    this.$store.commit('updateDescription', e.target.value);
            //},
            
            copyToClipboard () {
                var elements = [
                    "license_number", 
                    "legal_name", 
                    "first_name", 
                    "last_name", 
                    "scrape_name",
                    "phone",        
                    "phy_zip", 
                    "phy_city", 
                    "phy_state",
                    "phy_street",
                    "legal_entity",
                    "issue_date",
                    "expire_date",
                    "license_status", 
                    "classifications", 
                    "bond_carrier",
                    "bond_effective_date",
                    "workers_compensation_carrier",
                    "workers_compensation_effective_date",
                    "liability_insurance_carrier",
                    "liability_insurance_expiration_date",
                    "coverage_type",
                    "email_address",
                    "comment"
                ];
                var copiedText = '';
                var i;
                for (i = 0; i < elements.length; i++) {
                    var element = document.getElementById(elements[i]);
                    copiedText = copiedText + "\n" + elements[i] + ": " + element.value;
                }

                var dummy = document.createElement("textarea");
                document.body.appendChild(dummy);
                dummy.value = copiedText;
                dummy.select();
                document.execCommand("copy");
                document.body.removeChild(dummy);
            },


        },
        computed: {
            ...mapGetters([
                'lead',
                'errors',
                'isLoading'
            ]),
            ...mapState({
                licence_search: state => state.licence_search || null,
                phone_search: state => state.phone_search || null,
                
                legal_name: state => state.lead.legal_name || null,
                first_name: state => state.lead.first_name || null,
                last_name: state => state.lead.last_name || null,
                scrape_name: state => state.lead.scrape_name || null,
                
                phone: state => state.lead.phone || null,
                phy_city: state => state.lead.phy_city || null,
                phy_zip: state => state.lead.phy_zip || null,
                phy_state: state => state.lead.phy_state || null,
                
                phy_street: state => state.lead.phy_street || null,
                
                legal_entity: state => state.lead.legal_entity || null,
                issue_date: state => state.lead.issue_date || null,
                expire_date: state => state.lead.expire_date || null,
                
                license_status: state => state.lead.license_status || null,
                classifications: state => state.lead.classifications || null,
                
                bond_carrier: state => state.lead.bond_carrier || null,
                bond_effective_date: state => state.lead.bond_effective_date || null,
                
                workers_compensation_carrier: state => state.lead.workers_compensation_carrier || null,
                workers_compensation_effective_date: state => state.lead.workers_compensation_effective_date || null,
                
                liability_insurance_carrier: state => state.lead.liability_insurance_carrier || null,
                liability_insurance_expiration_date: state => state.lead.liability_insurance_expiration_date || null,
                
                
                license_number: state => state.lead.license_number || null,
                coverage_type: state => state.lead.coverage_type || null,
                email_address: state => state.lead.email_address || null,
                
                comment: state => state.lead.comment || null,
                // description: state => state.lead.description || null,
            })
        },
        components: {
            Datepicker,
            Loading
        }
    }
</script>

<style scoped>
    .lead-search {
        padding: 1rem 0;
        position: relative;
    }
    #licence_search, #phone_search {
        margin: 0 1rem;
    }
    label {
        margin-bottom: 0px;
    }
    .search-term {
        color: white;
        font-size: 1rem;
        font-weight: 600;
    }
    .btn-secondary {
        background:burlywood;
        color: #212529;
        border-color: burlywood;
    }
    .form-column {
        padding-top: 1rem;
    }
    label span {
        color: crimson;
    }
    .dot-search {
        position: absolute; 
        bottom: 0; 
        left: 131px; 
        color: white !important;
    }
    .phone-search {
        position: absolute; 
        bottom: 0; 
        left: 61px; 
        color: white !important;
    }
</style>


